/*==================CUSTOM RESETS===========*/
a:hover{
	text-decoration:none;
}
ul{
    list-style:none;
}
/*==================CUSTOM RESETS END=======*/

#app{
  width: 100%;
}
body {
  background-color: rgb(177, 169, 169) !important;
}
input {
  min-width: 500px;
}
.center{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.btn a{
	color:white;
}
.btn{
	margin-right:10px;
}
/*======================= TOP BAR STYLES SECTION =====================*/
.top-bar {
    background: white;
    border-bottom: 20px solid #007abb;
    height: 150px;
    position: relative;
}
.top-bar .img-wrapper {
    height: 100%;
    position: absolute;
    padding: 10px;
}
.top-bar .img-wrapper img {
	height:100%;
}
/*=====================HEADER SECTION STYLES=================*/
header {
    display: flex;
    max-height: 50px;
}
.user-panel {
    flex-basis: 40%;
    padding: 0 20px;
    display:flex;
}
.user-info {
    display: flex;
    padding: 0 10px;
    align-items: center;
}
.user-info p{
    color:white;
    font-weight:bold;
    margin:0;
}
.user-info span:last-child {
    text-transform: capitalize;
}
.userpic img {
    height: 50px;
    border-radius: 50%;
    padding:2px 0;
}
nav.main-menu {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.main-menu ul {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    max-height: 50px;
}
.main-menu ul li {
    flex-basis: 25%;
    display: flex;
    align-items: center;
}
.main-menu ul li:hover {
    background: #d4d4d4;
}
.main-menu ul li a {
    padding: 15px;
    width: 100%;
    color:white;
    font-weight:bold;
}
.main-menu ul li a:hover{
    color:black;
}
li.has-dropdown {
    position: relative;
}
li.has-dropdown:hover ul.dropdown{
    display:block;
}
ul.dropdown {
    position: absolute;
    top:100%;
    display: none;
    padding:0;
    margin: 0;
    background: #b1a9a9;
    height:auto;
    max-height:none;
}

/*=====================MAIN SECTION STYLES===================*/
.content {
    background: white;
    width: 100%;
    padding: 0 5%;
}