/*==================CUSTOM RESETS===========*/
a:hover{
	text-decoration:none;
}
ul{
    list-style:none;
}
/*==================CUSTOM RESETS END=======*/

#app{
  width: 100%;
}
input {
  min-width: 500px;
}
.center{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.btn a{
	color:white;
}
.btn{
	margin-right:10px;
}
/*======================= TOP BAR STYLES SECTION =====================*/
.top-bar {
    background: white;
    border-bottom: 20px solid #007abb;
    height: 150px;
    position: relative;
}
.top-bar .img-wrapper {
    height: 100%;
    position: absolute;
    padding: 10px;
}
.top-bar .img-wrapper img {
	height:100%;
}
/*=====================HEADER SECTION STYLES=================*/
header {
    display: flex;
    max-height: 50px;
    background: rgb(177, 169, 169);
}
.user-panel {
    flex-basis: 40%;
    padding: 0 20px;
    display:flex;
}
.user-info {
    display: flex;
    padding: 0 10px;
    align-items: center;
}
.user-info p{
    color:white;
    font-weight:bold;
    margin:0;
}
.user-info span:last-child {
    text-transform: capitalize;
}
.userpic img {
    height: 50px;
    border-radius: 50%;
    padding:2px 0;
}
nav.main-menu {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.main-menu ul {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    max-height: 50px;
}
.main-menu ul li {
    flex-basis: 25%;
    display: flex;
    align-items: center;
}
.main-menu ul li:hover {
    background: #d4d4d4;
}
.main-menu ul li a {
    padding: 15px;
    width: 100%;
    color:white;
    font-weight:bold;
}
.main-menu ul li a:hover{
    color:black;
}
li.has-dropdown {
    position: relative;
}
li.has-dropdown:hover ul.dropdown{
    display:block;
}
ul.dropdown {
    position: absolute;
    top:100%;
    display: none;
    padding:0;
    margin: 0;
    background: #b1a9a9;
    height:auto;
    max-height:none;
}

/*=====================MAIN SECTION STYLES===================*/
.content {
    background: white;
    width: 100%;
    padding: 0 5%;
}
.main {
    background: white;
    padding-top: 20px;
}
.main .row.section {
    margin:0;
    margin-top: 25px;
}
.flex{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
/*=====================CREATE FORM STYLES====================*/
.form-creator {
    padding: 20px;
    background: rgb(177, 169, 169);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
    height:max-content;
}
.form-creator .row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 15px;
}
.form-creator .row:last-child {
    margin-bottom: 0;
}
.form-creator input {
    min-width: auto;
}
.form-creator label {
    font-size: 14px;
    margin-bottom: 0px;
}
.form-creator .form-header {
    font-weight: bold;
    text-align: center;
}
input[type="radio"] + label{
    margin-left:5px;
}
input[type="number"] {
    max-width: 100px;
    float:right;
}
.button-block {
    display: flex;
    justify-content: flex-end;
    margin-bottom:50px;
}
.button-block button {
    margin-left: 20px;
    border: none;
    padding: 10px 50px;
    background: lightgray;
}
.column-25 {
    width: 24%;
}
.column-33{
    width:32%;
}
.column-50 {
    width: 49%;
}
.full{
    max-width:none!important;
}
.column-75 {
    width: 74%;
}
.column-100 {
    width: 100%;
}
/*=======================CREATE TABLE (PU2A) STYLES======*/
.table-bordered thead td, .table-bordered thead th{
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    padding: 8px;
}
.column-50.button-holder {
    padding: 0 20px;
}
.column-50.button-holder div {
    margin-bottom: 20px;
}
.column-50.button-holder button {
    margin-right: 20px;
    padding: 5px 40px;
    border: none;
    background: lightgray;
    width: 150px;
}
/*=====================MAIN MENU STYLES===============*/
.menu-tab {
    padding: 40px 25px;
    background: lightgray;
    box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.3);
}